*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    
}
.clear{
    clear: both;
}
ul{
    list-style: none;
    padding-left: 0px ;
}
ul>li>a{
    text-decoration: none;
}
#main{
    background-color: #eeeeee;
    width: 100%;
}
/**phần header**/
.Logo_major{
    width: 50px;
    height: 50px ;
}

.header_web{
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    
}
.header_list{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_list_item{
 padding: 0px 20px;
}
.user_setting{
    font-size: 20px;
    color: #5a5a5a;
}
/**hết phần header**/
/**Phần main_content**/
.main_content{
    width: 100%;
    height: 670px;
    display: flex;
}
.nav_bar{
    width: 15%;
    height: 100%;
    display: block;
    background: #f5f5f5 ;
    overflow: auto;
    scroll-padding: 0px;
    scroll-behavior: smooth;
}
.nav_bar_main{
    margin-top: 50px;
}
.nav_bar_main>li>a{
    color: #767676;
    
}
.icon_arrow_cotrol{
    display: none;
}

.display_Submenu  {
    display: block;
    height: auto;
    background-color: #eeeeee;
    list-style: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    
}
.display_Submenu li>a{
    padding: 0px 15px 0px 50px;
    color: #646464;
    font-size: 13px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.display_Submenu  li>a:hover{
    background-color: #e7e7e7;
}
.nav_bar_item{
    height: 38px;
    width: 100%;
}
.nav_bar_item a{
    display: block;
    padding: 0 20px;
    color: #646464;
    font-size: 14px;
    line-height: 38px;
    white-space: nowrap;
}
.nav_bar_item a:hover{
    background-color: #f0f0f0;
}
.nav_bar_item_press{
    position: relative;
    overflow: hidden;
    transition: all ease .5s;
}
.icon_setting{
    line-height: 18px;
    font-size: 19px;
    min-width: 19px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
}
.Submenu_icon{
    position: absolute;
    top: 12px;
    right: 10px;
    transition: all ease 5.s;
    
}
.rot_icon{
    transition: all ease 5.s;
    transform: rotate(180deg);
}
.active{
    background-color: #f0f0f0;
}
.actived{
    background-color: #e7e7e7;
}
/**Kết Thúc Phần nav_bar**/
/**Phần display**/
.window_display{
   width: 85%;
   height: 100%;
   overflow: hidden;
}
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
 
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  