*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}
div, input, select, textarea, span, img, table, label, td, th, p, a, button, ul, code, pre, li {
    
    border-radius: 0 !important;
  }
body{
    line-height: 1.42857143;
    animation: slide_in ease .8s;
}
.main .main_content{
    margin: 0px !important;
    padding: 20px 20px 20px 20px !important;
}
h3.page-title {
    font-size: 16pt;
    color: #009688;
    position: relative;
    padding-bottom: 5px;
    letter-spacing: unset;
    display: block;
    margin: 0px 0px 15px 0px;
    font-weight: 500;
}
  h3.page-title::after {
    border-bottom: 2px solid #028d7f;
    width: 50px;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
}
hr {
    margin: 10px 0;
}

.main_page{
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: none !important;
}
.page_primary {
    border-color: #009688;
  }
.page_primary > .main_page_heading {
    color: #D8E3F2;
    background-color: #009688;
    border-color: #009688;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
  }
.pull-right {
    float: right !important;
  }
.page_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.clearfix::before,.clearfix::after{
    display: table;
    content: " ";
}
.page_before{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.page-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.all-button{
    padding: 12px;
    
}
.delete_button{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}
.footer_page{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}
.footer_content{
    height: 34px;
}
.modal_containt{
    margin-top: 80px;
}

.modal_display{
    height: 670px;
    overflow: scroll;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    transform: translateY(-100%);
    transition: all ease .5s;
}
.slide_shown{
    transform: translateY(0px);
    transition: all ease .8s;
}
.modal_containt{
    background-color: #ffffff;
    width: 50%;
}
.modal_heading{
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #009688;
    padding: 24px 0px;
}
.close_modal_button{
    padding: 8px;
    position:absolute;
    top: 0px;
    right: 0px;
}
.close_modal_button:hover{
    color: #000 !important;
    background-color: #ccc !important;
    cursor: pointer;
}
.modal_body{
    padding: 0px 18px;
}
.modal_footer{
    padding: 15px;
    display: flex;
    border-top: 1px solid #e5e5e5;
    justify-content: space-between;
}
.help-block {
    margin-top: 5px;
    margin-bottom: 5px;
}
@keyframes slide_in {
    from{
       transform: translateX(-100%);
       opacity: 0;
    }
    to{
       transform: translateX(0px);
       opacity: 1;
    }
 }
